@using Business.ModelsDTO



<div class="d-flex flex-wrap col-12 border-light shadow-sm rounded m-2 p-3 border">
    <span class="col-12 d-flex justify-content-end text-danger" style="height: 25px;">
        <i title="Eliminar proveedor" class="oi oi-trash h4 over-animation" @onclick="@(()=>RemoveProviderForm.InvokeAsync(RawMaterialProvider))">
        </i>
    </span>
    <div class="form-group col-md-12">
        <label class="font-weight-bolder">Proveedor:</label>
        <select @bind="RawMaterialProvider.ProviderId" class="form-control">
            <option value="0" selected disabled>Seleccionar proveedor...</option>
            @foreach (var provider in Providers)
            {
                <option value="@provider.ProviderId">@provider.Name</option>
            }
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Precio</label>
        <InputNumber id="name" @bind-Value="RawMaterialProvider.Price" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => RawMaterialProvider.Price)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Peso</label>
        <InputNumber id="name" @bind-Value="RawMaterialProvider.Weight" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => RawMaterialProvider.Weight)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Cantidad</label>
        <InputNumber id="name" @bind-Value="RawMaterialProvider.Quantity" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => RawMaterialProvider.Quantity)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label class="font-weight-bolder">Unidad de medida:</label>
        <select @bind="RawMaterialProvider.MeasureId" class="form-control">
            <option value="0" selected disabled>Seleccionar medida...</option>
            @foreach (var measure in Measures)
            {
                <option value="@measure.MeasureId">@measure.Name</option>
            }
        </select>
    </div>
    <div class="form-group col-md-12">
        <label class="font-weight-bolder">Marca:</label>
        <select @bind="RawMaterialProvider.RawMaterialProviderBrandDTO.BrandId" class="form-control">
            <option value="0" selected disabled>Seleccionar marca...</option>
            @foreach (var brand in Brands)
            {
                <option value="@brand.BrandId">@brand.Name</option>
            }
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="currentProvider" class="font-weight-bolder">Proveedor actual</label>
        <InputCheckbox id="currentProvider" @bind-Value="RawMaterialProvider.CurrentProvider" @onclick="@(() => SetCurrentProvider.InvokeAsync(RawMaterialProvider))" class="form-control col-1" />
        <ValidationMessage For="@(() => RawMaterialProvider.CurrentProvider)" class="text-danger" />
    </div>
</div>

@code{
    [Parameter] public RawMaterialProviderDTO RawMaterialProvider { get; set; }
    [Parameter] public List<ProviderDTO> Providers { get; set; }
    [Parameter] public List<MeasureDTO> Measures { get; set; }
    [Parameter] public List<BrandDTO> Brands { get; set; }
    [Parameter] public EventCallback<RawMaterialProviderDTO> SetCurrentProvider { get; set; }
    [Parameter] public EventCallback<RawMaterialProviderDTO> RemoveProviderForm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (RawMaterialProvider.RawMaterialProviderBrandDTO == null)
        {
            RawMaterialProvider.RawMaterialProviderBrandDTO = new RawMaterialProviderBrandDTO();
        }
    }





}
