@using Business.ModelsDTO
@using System.Linq
@using Business.RawMaterials
@using Business.Providers

@inject RouterRawMaterial _router;
@inject NavigationManager NavManager
@inject RouterProvider _provider ;


<span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
    Agregar nuevo insumo
</span>
<EditForm class="col-md-4 d-flex flex-wrap justify-content-center" OnValidSubmit="Save" Model="@oRawMaterial">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Nombre</label>
        <InputText id="name" @bind-Value="oRawMaterial.Name" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Name)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Stock</label>
        <InputNumber id="name" @bind-Value="oRawMaterial.Stock" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Stock)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label class="font-weight-bolder">Proveedor:</label>
        <select @onchange="SetProvider" class="form-control">
            <option value="0" selected disabled>Seleccione un proveedor...</option>
            @foreach (var provider in providers)
            {
                <option value="@provider.ProviderId">@provider.Name</option>
            }
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Precio</label>
        <InputNumber id="name" @bind-Value="oRawMaterial.Stock" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Stock)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Peso</label>
        <InputNumber id="name" @bind-Value="oRawMaterial.Stock" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Stock)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Cantidad</label>
        <InputNumber id="name" @bind-Value="oRawMaterial.Stock" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Stock)" class="text-danger" />
    </div>

    <div class="form-group justify-content-center d-flex flex-wrap">
        <span class="col-12 text-danger text-center h5">@Message</span>
        <input type="submit" value="Agregar insumo" class="form-control col-12 btn btn-dark" />
        <a href="Providers/Index" class="btn btn-outline-secondary m-3 col-12">Volver</a>
    </div>
</EditForm>



@code {

    #region Variables

    RawMaterialDTO oRawMaterial = new RawMaterialDTO();
    public string Message;
    List<ProviderDTO> providers = new List<ProviderDTO>();


    #endregion

    #region| Metodos

    protected override async Task OnInitializedAsync()
    {
        try
        {
            providers = _provider.GetAll(false).Data;
        }
        catch (Exception e)
        {

            Message = "Imposible obtener lista de proveedores";
        }
    }

    private void SetProvider(ChangeEventArgs e)
    {
        oRawMaterial.ProviderId = Int32.Parse(e.Value.ToString());
    }

    private void Save()
    {
        try
        {
            var actionResponse = _router.Insert(oRawMaterial);

            if (actionResponse.IsSuccess)
            {
                NavManager.NavigateTo("RawMaterials/Index");
            }
            else
            {
                Message = actionResponse.Message;
            }
        }
        catch (Exception e)
        {

            Message = e.Message;
        }

    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    #endregion
}