@using Business.SubCategories
@using Business.ModelsDTO
@using Business.Categories

@inject NavigationManager NavManager
@inject RouterSubCategory router
@inject RouterCategory routerCategory

<span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
    Agregar nueva subCategoria
</span>
<span class="col-12 text-danger text-center h5">@Message</span>
<EditForm class="col-4 p-2" Model="@oProductSubCategory">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label class="font-weight-bolder">Categoria:</label>
        <InputSelect @bind-Value="CategoryId" class="form-control">
            <option value="0" disabled selected>Seleccione una categoria</option>
            @foreach (var Category in Categories)
            {
                <option value="@Category.ProductCategoryId.ToString()">@Category.Name</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="name" class="font-weight-bolder">Nombre de la subCategoría:</label>
        <InputText id="name" @bind-Value="oProductSubCategory.Name" class="form-control" />
        <ValidationMessage For="@(() => oProductSubCategory.Name)" class="text-danger" />
    </div>
    <div class="form-group justify-content-center d-flex flex-wrap">
        <input type="button" value="Agregar subCategoría" @onclick="Save" class="form-control btn btn-dark" />
        <a href="SubCategories/Index" class="btn btn-outline-secondary m-3">Volver</a>

    </div>
</EditForm>

@code {
    public string CategoryId;
    public ProductSubCategoryDTO oProductSubCategory = new ProductSubCategoryDTO();
    public string Message;
    public List<ProductCategoryDTO> Categories = new List<ProductCategoryDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = routerCategory.GetAll(false);
            if (response.IsSuccess)
            {
                Categories = response.Data.ToList();
            }
            else
            {
                Message = response.Message;
            }
        }
        catch (Exception e)
        {
            Message = e.InnerException.ToString();
        }

    }

    private void Save()
    {
        try
        {
            oProductSubCategory.ProductCategoryId = Int32.Parse(CategoryId);
            var response = router.Insert(oProductSubCategory);
            if (response.IsSuccess)
            {
                NavManager.NavigateTo("SubCategories/Index");
            }
            else
            {
                Message = response.Message;
            }
        }
        catch(Exception e)
        {
            Message = e.InnerException.ToString();
        }
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
