@using Business.Taxes
@using Business.ModelsDTO

@inject NavigationManager NavManager
@inject RouterTax router

<span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
    Actualizar impuesto
</span>
<span class="col-12 text-danger text-center h5">@Message</span>
<EditForm class="col-4 p-2" OnValidSubmit="@Save" Model="@oTax">
    <DataAnnotationsValidator />
    <ValidationSummary/>
    <div class="form-group">
        <label for="name">Nombre del impuesto:</label>
        <InputText id="name" @bind-Value="oTax.Name" class="form-control" />
        <ValidationMessage For="@(() => oTax.Name)" class="text-danger" />
    </div>
    <div class="form-group">
        <label for="name">Porcentaje de impuesto:</label>
        <InputNumber id="percentage" @bind-Value="oTax.Percentage" class="form-control" />
        <ValidationMessage For="@(() => oTax.Percentage)" class="text-danger" />
    </div>
    <div class="form-group justify-content-center d-flex flex-wrap">
        <input type="submit" value="Actualizar impuesto" class="form-control btn btn-dark" />
        <a href="Taxes/Index" class="btn btn-outline-secondary m-3">Volver</a>

    </div>
</EditForm>

@code {
    [Parameter]
    public string TaxId { get; set; }

    public string Message { get; set; }
    TaxDTO oTax = new TaxDTO();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = router.Get(Int32.Parse(TaxId));
            if (response.IsSuccess)
            {
                oTax = response.Data;
            }
            else
            {
                Message = response.Message;
            }
        }
        catch (Exception e)
        {

            Message = e.InnerException.ToString();
        }

    }

    private void Save()
    {
        try
        {
            var response = router.Update(oTax);
            if (response.IsSuccess)
            {
                NavManager.NavigateTo("Taxes/Index");
            }
            else
            {
                Message = response.Message;
            }
        }
        catch (Exception e)
        {

            Message = e.InnerException.ToString();
        }

    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
